@model Usuario
@{
    ViewData["Title"] = "Perfil Page";
}

<body>
    <main>

        <div class="container-perfil">

            <!--Perfil header-->
            <section class="info">

                
                <div class="foto">
                    <img src="~/img-perfil/thank-you 3.png" alt="Imagem de perfil">
                </div>
                    
                <div class="info-perfil">

                    <div class="usuario">
                        <div class="user">
                            <h2 class="username">@ViewBag.Usuario.Username</h2>   
                        </div>
                    </div>

                    <div class="dados">
                        <div id="publicacoes">
                            <p>2 publicações</p>
                        </div>

                        <div id="seguindo">
                            <p>128 seguindo</p>
                        </div>

                        <div id="seguidores">
                            <p>214 seguidores</p>
                        </div>
                    </div>

                    <div class="nome">
                        <div id="perfil-nome">
                            <h1>@ViewBag.Usuario.Nome</h1>
                        </div>

                        <div class="exit">
                            <a asp-area="Editar Perfil" asp-controller="EditarPerfilUser" asp-action="editarPerfil">Editar Perfil</a>
                            <a asp-area="Sair da conta" asp-controller="Logout" asp-action="Index">Sair</a>
                        </div>
                    </div>  

                </div>
                


            </section>

            <!--Linha-->
            <div class="line"></div>
            
            <!--Publicacoes-->
            <div class="pub">
                <div class="texto">
                    <img src="~/img-perfil/image 1.png" alt="publicações">
                    <h3>publicações</h3>
                </div>
            </div>

            <!--Posts-->
            <section id="posts">
                
                    
                <div id="post">
                    <div class="foto">

                        <div class="imagem-post">
                            <img src="~/img-perfil/Rectangle 4.png" alt="Foto da publicação">
                        </div>

                    </div>

                    <div class="info-post-dados">

                        <div class="dados-post">

                            <div class="imagem-perfil">
                                <img src="~/img-perfil/thank-you 3.png" alt="Imagem de perfil">
                            </div>
        
                            <div class="info-post">
                           
                                
                                <div class="nome-perfil">
                                    <h4>@ViewBag.Usuario.Nome</h4>
                                </div>
        
                                <div class="localizacao">
                                    <p>Rio de Janeiro, Brazil</p>
                                </div>
                            
                            </div>
    
                        </div>
                        
                        <div class="curtidas">

                            <div class="curtida">
                                <img src="~/img-perfil/Vector.png" alt="curtida">
                            </div>

                            <div class="comentario">
                                <img src="~/img-perfil/comen.png" alt="comentario">
                            </div>
                        </div>

                        <div class="curt-quant">
                            <p>1954 curtidas</p>
                        </div>

                        <div class="comentario-post">
                            <h4>fausto_silva</h4>
                            <p>Esse cara é fera bixo!</p>
                            <img src="~/img-perfil/Vector.png" alt="curtida">
                        </div>

                        <div class="comentario-post">
                            <h4>fausto_silva</h4>
                            <p>Esse cara é fera bixo!</p>
                            <img src="~/img-perfil/Vector.png" alt="curtida">
                        </div>

                        <div class="comentario-post">
                            <h4>fausto_silva</h4>
                            <p>Esse cara é fera bixo!</p>
                            <img src="~/img-perfil/Vector.png" alt="curtida">
                        </div>

                        <div class="ler-comentarios">
                            <a asp-area="Link para a publicacao" asp-controller="" asp-action="">Ver todos os comentarios</a>
                        </div>
                    </div>


                </div>
                
               

                <div id="post">
                    <div class="foto">

                        <div class="imagem-post">
                            <img src="~/img-perfil/Rectangle 4.png" alt="Foto da publicação">
                        </div>

                    </div>

                    <div class="info-post-dados">

                        <div class="dados-post">

                            <div class="imagem-perfil">
                                <img src="~/img-perfil/thank-you 3.png" alt="Imagem de perfil">
                            </div>
        
                            <div class="info-post">
    
                                <div class="nome-perfil">
                                    <h4>Marcos jeeves</h4>
                                </div>
        
                                <div class="localizacao">
                                    <p>Rio de Janeiro, Brazil</p>
                                </div>
                            </div>
    
                        </div>
                        
                        <div class="curtidas">

                            <div class="curtida">
                                <img src="~/img-perfil/Vector.png" alt="curtida">
                            </div>

                            <div class="comentario">
                                <img src="~/img-perfil/comen.png" alt="comentario">
                            </div>
                        </div>

                        <div class="curt-quant">
                            <p>1954 curtidas</p>
                        </div>

                        <div class="comentario-post">
                            <h4>fausto_silva</h4>
                            <p>Esse cara é fera bixo!</p>
                            <img src="~/img-perfil/Vector.png" alt="curtida">
                        </div>

                        <div class="comentario-post">
                            <h4>fausto_silva</h4>
                            <p>Esse cara é fera bixo!</p>
                            <img src="~/img-perfil/Vector.png" alt="curtida">
                        </div>

                        <div class="comentario-post">
                            <h4>fausto_silva</h4>
                            <p>Esse cara é fera bixo!</p>
                            <img src="~/img-perfil/Vector.png" alt="curtida">
                        </div>

                        <div class="ler-comentarios">
                            <a asp-area="Link para a publicacao" asp-controller="" asp-action="">Ver todos os comentarios</a>
                        </div>
                    </div>


                </div>
                

            </section>


        </div>

        
    </main>
</body>
</html>