<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstaDev - Cadastro</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2faae0d38b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/styleHeader.css" />
    <link rel="stylesheet" href="~/css/styleHeader.css"/>
    @switch (@ViewData["Title"])
    {
        case "Page Cadastro":
            <link rel="stylesheet" href="~/css/style-Cadastro.css">
            break;
        default:
            break;
    }
</head>
<body>
    @RenderBody()
</body>
</html>
