<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstaDev</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css"/>
    @switch (@ViewData["Title"])
    {
        case "Perfil Page":
            <link rel="stylesheet" href="~/css/style-Perfil.css">
            break;
        default:
            break;
    }
    
</head>
<body>
    @RenderBody()
</body>
</html>
