*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E5E5E5;
}

a{
    text-decoration: none;
}

.container_cadastro{
    font-size: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.posicao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario{
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cadastro{
    width: 342px;
    height: 550px;
    background-color: #FFFFFF;
    box-sizing:border-box;
    border: solid 1px #dbdbdb;
    
}

.imagem{
    margin-bottom: 20px;
}

.texto{
    
    width: 270px;
    margin-bottom: 15px;
}

.texto p{
    font-size: 18px;
    font-family: 'Segoe UI';
    text-align: center;
    color: rgba(var(--f52,142,142,142),1) ;
}

.campo input{
    width: 247px;
    height: 35px;
    font-size: 11px;
    padding: 0 10px;
}

.botao{
    background: #2686CC;
    border-radius: 2px;
    width: 270px;
    height: 37px;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Segoe UI';
    border: none; font-size: 20px;
    
    
    
}

.termos{
    width: 280px;
    margin-top: 30px;
    font-family:'Segoe UI';
    font-size: 13px;
    text-align:center;


    
}

.aplicativo p{
    font-family: 'Segoe UI';
    font-size: 13px;
    text-align: center;
}
.conecte-se p{
    font-family: 'Segoe UI';
    font-size: 13px;
    text-align: center;
}
.tem{
    background-color: #ffffff;
    width: 342px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: solid 1px #dbdbdb;

}