@{
    ViewData["Title"] = "Home Page";
}

<<<<<<< HEAD

=======
>>>>>>> fe534cf485139a6f4225e68702d68674b9295068
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
