@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap%27');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.color{
    background-color: #FAFAFA;
}

.alinhamento{
    width: auto;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.conteudo{
    /* position: absolute; */
    width: 342px;
    height: 461px;
    left: 789px;
    top: 149px;

    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* background-color: lime; */
}

.logo{
    width: 165px;
    height: 63px;
    left: 884px;
    top: 179px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    /* background-color: magenta; */
}

.sub-titulo{
    width: 209px;
    height: 38px;
    left: 855px;
    top: 252px;

    color: #909090;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bolder;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    /* background-color: maroon; */
}

.campo{
    width: 267px;
    height: 35px;
    left: 826px;
    top: 300px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;

    padding-left: 3%;

    background: #FAFAFA;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 2px;

    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

button{
    width: 267px;
    height: 30px;
    left: 826px;
    top: 485px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    background: #2686CC;
    border-radius: 2px;
    color: white;
}

.txt{
    width: 254px;
    height: 32px;
    left: 833px;
    top: 532px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #909090;

    margin-bottom: 10%;
}

.conect{
    width: 342px;
    height: 75px;
    left: 789px;
    top: 619px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-sizing: border-box;
    margin-top: 0.5%;
    /* background-color: tomato; */
}

.conect p{
    color: #353535;
}

.conect a{
    text-decoration: none;
    color: #2686CC;
}

.espacamento{
    width: 151px;
    height: 16px;
    left: 884px;
    top: 649px;
    display: flex;
    justify-content: space-around;
}

.obt{
    width: 342px;
    height: 75px;
    left: 903px;
    top: 722px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;

    color: #353535;
    /* background-color: yellow; */
}

.apps{
    margin-left: 1%;
}