*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, h1
{
    margin: 0;
}


body {
    background-color:#E5E5E5;
}
/* ==========HEADER/TOPO========== */
.topo{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 3.2em;
    left: 0px;
    top: 0px; 
    /* background-color: lime; */
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;

}

.direita{
    margin-left: 38em;
}

.container{
    width: 70em;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10em;
    /* background-color: magenta; */
}

@font-face {
    font-family: Billabong;
    src: url(../Sources/Billabong.ttf);
}
.logo{
    font-family: Billabong;
    font-size: 50px;
    text-decoration: none;
    color: black;
}

.pesquisa{
    display: flex;
    align-items: center;
    height: 100%;
    /* background-color: slateblue; */
}

input[type=search]{
    width: 215px;
    height: 28px;
    left: 852px;
    top: 12px;
    
    background: #FAFAFA;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 2px;
}

.camp{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
}

  /* webkit solution */
::-webkit-input-placeholder { 
    font-family: FontAwesome, Segoe UI;
    /* font-family: Segoe UI; */
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align:center; 
}
  /* mozilla solution */
    input:-moz-placeholder{ 
    font-family: FontAwesome;
    text-align:right; 
}

.icons{
    width: 19em;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: blue; */
}

/* ==========Fim do HEADER/TOPO========== */
.content_center{
    width: 780px;
    margin: auto;
    /*background-color: lightblue;*/
    font-family:Segoe UI;

}
.feed{
    display:flex;
    /*background-color: honeydew;*/
}

.perfil_feed{
    background-color: #FFFFFF;
    border: 1px solid #F1F1F1;
    margin-top: 38px;
    height: 113px;
    width: 610px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.itens ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 13px;
    font-family: Segoe UI;
    font-style: normal;
    text-decoration: none;
}
.itens ul a{
    color:black;/*Altera a cor da fonte*/
    text-decoration: none;/*Remove o underline*/
}
/*-----------------------------------------------------------------------*/
.postar{
    background-color: white;
    margin-top: 38px;
    height: 166px;
    width: 610px;
}

.perfil_postar{
    font-size: 18px;
    font-style: normal;
    display: flex;
    justify-self: center;
    align-items: center;
}

.campo_de_postagem{
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
    align-items: flex-start;
    margin-top: 25px;
    height: 100px;
}

.text_img{
    width: 231px;
    height: 28px;
    font-size: 12px;
}

.campo2 label {
    color: #7D7D7D;
    display: inline-block;
    background:  #D1D1D1;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 5.5px 28.85px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 600px;
    
}

 .file_img {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
} 
.postar_botao{
    padding: 4.5px 43px;
    background-color: #2686CC;
    border-radius: 5px;
}
  
/*-----------------------------------------------------------------------*/

.postagens{
    background-color: white;
    margin-top: 38px;
    width: 610px;
    height: 610px;
}
.foto_perfil_post{
    /*background-color: firebrick;*/
    width: 610px;
    height: 60px;
    display: flex;
    align-items: center;
}
.foto_perfil_post img{
    margin-left: 16px;
}
.text_perfil_post{
    /*background-color: coral;*/
    margin-left: 13px;
}
.post_interacao{
    /*background-color: indianred;*/
    width: 50%;
    margin-left: 20px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.post_linha{
    display: flex;
    flex-direction: column;
}
.post_linha p{
    margin-left: 20px ;
    margin-top:6px ;
    font-size: 13px;
    font-weight: 400;
}
.comentar_post{
    display: flex;
}
.comentarios{
    margin-left: 20px;
    margin-top: 5px;
    display: flex;
}
.comentarios p{
    margin-left: 7px;
}
.postar p{
    margin-left:20px ;
    margin-top: 6px;
}
.comenta_escrito{
    width: 215px;
    height: 28px;
    left: 852px;
    top: 12px;
}

.meu_perfil{
    display: flex;
    /*background-color: yellow;*/
    height: 60px;
}
.teste{
    display: flex;
    justify-content: space-between;
    align-items: center;
}