@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap%27');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
/* ==========HEADER/TOPO========== */
.topo{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 3.2em;
    left: 0px;
    top: 0px; 
    /* background-color: lime; */
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;

}

.direita{
    margin-left: 38em;
}

.container{
    width: 70em;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10em;
    /* background-color: magenta; */
}

.logo{
    height: 27px;
    width: 78px;
    left: 487px;
    top: 30em;

}

.pesquisa{
    display: flex;
    align-items: center;
    height: 100%;
    /* background-color: slateblue; */
}

input[type=search]{
    width: 215px;
    height: 28px;
    left: 852px;
    top: 12px;
    
    background: #FAFAFA;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 2px;
}

.camp{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
}

  /* webkit solution */
::-webkit-input-placeholder { 
    font-family: FontAwesome, Segoe UI;
    /* font-family: Segoe UI; */
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align:center; 
}
  /* mozilla solution */
    input:-moz-placeholder{ 
    font-family: FontAwesome;
    text-align:right; 
}

.icons{
    width: 19em;
    height: 100%;
    display: flex;
    justify-content: space-around;
    /* background-color: blue; */
}

.Image{
    width: 27px;
    height: 27px;
    left: 1395px;
    top: 10px;
    border-radius: 50%;
}

/* ==========Fim do HEADER/TOPO========== */