@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap%27');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
/* ==========HEADER/TOPO========== */
.topo{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 3.2em;
    left: 0px;
    top: 0px; 
    /* background-color: lime; */
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;

}

.direita{
    margin-left: 38em;
}

.container{
    width: 70em;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10em;
    /* background-color: magenta; */
}

.logo{
    height: 27px;
    width: 78px;
    left: 487px;
    top: 30em;

}

.pesquisa{
    display: flex;
    align-items: center;
    height: 100%;
    /* background-color: slateblue; */
}

input[type=search]{
    width: 215px;
    height: 28px;
    left: 852px;
    top: 12px;
    
    background: #FAFAFA;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 2px;
}

.camp{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
}

  /* webkit solution */
::-webkit-input-placeholder { 
    font-family: FontAwesome, Segoe UI;
    /* font-family: Segoe UI; */
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align:center; 
}
  /* mozilla solution */
    input:-moz-placeholder{ 
    font-family: FontAwesome;
    text-align:right; 
}

.icons{
    width: 19em;
    height: 100%;
    display: flex;
    justify-content: space-around;
    /* background-color: blue; */
}

/* ==========Fim do HEADER/TOPO========== */

/* ==========Edição de Perfil========== */

.color{
     background-color:#E5E5E5;
}

.alinhamento{
    width: auto;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.conteudo{
    height: 38.125em;
    width: 65%;
    left: 492px;
    top: 77px;
    border-radius: 0px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    border: 1px solid #F1F1F1
}

.aba{
    height: 100%;
    width: 20%;
    border-right: 1px solid #F1F1F1;;
    /* background-color: magenta;*/
    margin-right: 10%;

}

.aba h1{
    width: 70%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    border-left: 2px solid #000000;;
    /* background-color: turquoise; */
}


.informacoes{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    /* background-color: mediumspringgreen; */
}

.informacoes h2{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.informacoes h3{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}
.informacoes h4{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    font-weight: bolder;
    line-height: 16px;
    color: #909090;
}

.informacoes p{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #909090;
}

.titulo p{
    font-weight: bold;
}

.campo{
    display: flex;
}

.foto{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: blueviolet; */
    margin-top: 1%;
}

.foto1{
    width: 14%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: springgreen; */
}

.foto2{
    width: 80%;
    height: 100%;
    margin-top: 2.1em;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    /* background-color: salmon; */
}

.foto2 a{
    width: 23.5%;
    /* background-color: aqua; */
}

.nome{
    width: 90%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3%;
    /* background-color: yellow; */
}

.nome1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nome2{
    width: 58%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    /* background-color: violet; */
    margin-left: 18.5%;
    margin-top: 2%;
}

.nome h3{
    margin-left: 6.9%;
}

.campo1{
    height: 100%;
    width: 78%;
    margin-right: 1.8%;
    /* background-color: yellowgreen; */
}

.nome-user{
    width: 98%;  /*AAAAAAAAAAAAAAAAAA */
    height: 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: tomato; */
    margin-top: 3.5%;
}

.nome-user1{
    width: 85%;
    display: flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 2.4%;
    /* background-color: #2686CC; */
}

.nome-user2{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-end;
    margin-left: 21%;
    margin-top: 2%;
    /* background-color: orchid; */
}

.campo2{
    height: 100%;
    width: 75%;
    margin-right: 1.3%;
    /* background-color: orange; */
}

.email{
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: aqua;  */
    margin-top: 2%;   
}

.email1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-end;
    margin-left: 18.5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.email2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 7.5%;
}

.campo3{
    height: 100%;
    width: 84%;
    margin-right: 2%;
    /* background-color: palegoldenrod; */
}

.bnts{
    width: 64%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: teal; */
    margin-right: 4%;
    margin-top: 8%;
}

button{
    width: 66px;
    height: 30px;
    left: 925px;
    top: 584px;
    
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    color: white;
    background: #2686CC;
    border-radius: 2px;
}

.campo{
    width: 354px;
    height: 30px;
    left: 925px;
    top: 169px;

    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 2px;
}

a{

    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    line-height: 16px;
    color: #2686CC;
}

